<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miraflores.agenda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Centro Miraflores"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CentroMiraflores">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnp342cnNZZi0Fg7DorciGmNZA5Di3wt4" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".AgendaActivity" />
        <activity android:name=".GeminiChatActivity" />
        <activity android:name=".MapaActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".AdminActivity" />

    </application>
</manifest>